<!DOCTYPE html>
<html>
    <head>
        <title>Is it New Year?</title>
        <style>
            body {
                text-align: center;
            }
        </style>
    </head>
    <body>
        {% if new_year %}
            <h1>Happy New Year!</h1>
        {% else %}
            <h1>NO</h1>
        {% endif %}
    <h1>First page example</h1>
    <p>
        This is a sample message on first page.
    </p>
    <a href="{{ url_for('more') }}">See More</a>
    <p>
        This is a sample form
    </p>
    <form action="{{ url_for('hello') }}" method="post">
        <input type="text" name="name" placeholder="Enter Your Name">
        <button>Submit</button>
    </form>
    <p>Form notes entry:</p>

    <ul>
        {% for note in notes %}
            <li>{{ note }}</li>
        {% endfor %}
    </ul>

    <form action="{{ url_for('index') }}" method="post">
        <input type="text" name="note" placeholder="Note">
        <button>Add Note</button>
    </form>
    
    </body>
</html>